/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css header */

header{
    height: 35rem;
    background-color: #00008b;
}

section.top{
    background-color: #add8e6;
    height: 15%;
    padding: .2rem;
}

.flex-container{
    display: flex;
    width: 65%;
}

.container{
    justify-content: center;
    margin: 1rem auto;
}

div.flex-item-header{
    background-color: #daa520;
    border: .2rem dashed black;
    padding: .3rem;
}

#logo,
#login{
    flex-basis: 20%;
}

#link{
    flex-basis: 60%;
}

div#link>ul{
    text-align: center;
}

ul>li{
    display: inline-block;
}

div#login{
    text-align: end;
}

section.bottom{
    background-color: #ee82ee;
    border: .2rem dashed black;
    height: 20rem;
    width: 48%;
    margin: 3rem auto;
}

/* css main */

div.flex-item-main{
    height: 30rem;
    border: .2rem dashed black;
}

div.img{
    background-color: #1e90ff;
    width: 65%;
}

div.content{
    background-color: #ffc0cb;
    width: 30%;
}

section.main-section{
    padding: 3rem 0;
}

div#reverse{
    flex-direction: row-reverse;
}

section.bg-grey{
    background-color: #d3d3d3;
}

div#end-main{
    height: 40rem;
    width: 65%;
    background-color: #228b22;
    border: .2rem dashed black;
    margin: 0 auto;
}

/* css footer */

footer{
    background-color: #23272a;
}

section.foot-section{
    height: 35rem;
    padding: 1rem;
}

div#red{
    background-color: #f08080;
    width: 30%;
    border: .2rem dashed black;
}

div.lightblue{
    background-color: #20b2aa;
    width: 17.5%;
    border: .2rem dashed white;
}

div#foot-end{
    background-color: #7fffd4;
    height: 6rem;
    width: 65%;
    margin: 2rem auto;
}

span.foot-item{
    background-color: #ffb6c1;
    border: .2rem dashed black;
}

div.foot-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.foot-flex-item{
    width: 50%;
}

div#button{
    text-align: end;
}

span.foot-item{
    background-color: #ffb6c1;
    border: .2rem dashed black;
    padding: .5rem;
}