/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 30rem;
    background-color: #00008b;
}

section.top{
    background-color: #add8e6;
    height: 10%;
}

div.flex-container{
    display: flex;
    width: 65%;
}

div.header-container{
    justify-content: center;
    margin: 1rem auto;
}

div.flex-item-header{
    background-color: #daa520;
    border: 1px dashed black;
    padding: .3rem;
}

#logo,
#login{
    flex-basis: 20%;
}

#link{
    flex-basis: 60%;
}

div#link>ul{
    text-align: center;
}

ul>li{
    display: inline-block;
}

div#login{
    text-align: end;
}

section.bottom{
    background-color: #ee82ee;
    border: 1px dashed black;
    height: 20rem;
    width: 48%;
    margin: 3rem auto;
}

div.flex-item-main{
    height: 30rem;
}

div.img{
    
}